:root {
	--white: hsl(0, 0%, 100%);
	--darkWhite: hsl(0, 0%, 95%);
	--gray: hsl(231, 8%, 61%);
	--lightGray: hsl(223, 18%, 96%);
	--blue: hsl(231, 26%, 24%);
	--lightBlue: hsl(192, 69%, 51%);
	--green: hsl(136, 64%, 51%);
	--lightGreen: hsl(158, 61%, 49%);
}
