@use 'utility' as *;

html {
	font-size: 62.5%;
	background-color: var(--darkWhite);
}

.container {
	max-width: 32.7rem;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.sec-title {
	text-align: center;
	display: flex;
	flex-direction: column;
	row-gap: 1.4rem;
}
