@use 'utility' as *;

.button {
	background-image: linear-gradient(to right bottom, var(--green), var(--lightBlue));
	color: var(--white);
	border-radius: 22px;
	padding: 1rem 3.4rem;
	border: none;
	font-weight: 700;
	cursor: pointer;
	transition: opacity 0.4s;

	&:hover {
		opacity: 0.8;
	}
}
