@use 'utility' as *;

.article {
	padding: 8.8rem 0;

	&__heading {
		margin-bottom: 3rem;
	}

	&__container {
		display: grid;
		row-gap: 2.4rem;

		@include breakpoint(medium) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2.4rem;
		}

		@include breakpoint(large) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__content {
		display: grid;
		grid-template-rows: 20rem auto;
		border-radius: 5px;

		@include breakpoint(small) {
			grid-template-rows: 24rem auto;
		}

		@include breakpoint(large) {
			grid-template-rows: 18rem auto;
		}

		@include breakpoint(xlarge) {
			grid-template-rows: 20rem auto;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	&__inner {
		padding: 2.4rem 3rem;
		display: flex;
		flex-direction: column;
		row-gap: 0.8rem;
		background-color: var(--white);

		@include breakpoint(large) {
			padding: 2.4rem 1.8rem;
		}

		@include breakpoint(xlarge) {
			padding: 2.4rem;
		}
	}

	&__description {
		font-size: 1.3rem;
	}

	&__author {
		font-size: 1rem;
		color: var(--gray);
	}
}
