@use 'utility' as *;

.footer {
	padding: 4rem 0;
	background-color: var(--blue);

	&__container {
		display: grid;
		row-gap: 3.2rem;
		justify-items: center;
	}

	&__share {
		display: flex;
		column-gap: 1.6rem;
	}

	&__nav {
		font-size: 1.5rem;

		&-menu {
			display: grid;
			justify-items: center;
			row-gap: 0.8rem;
		}

		&-link {
			color: var(--white);
		}
	}
}

.copyright {
	display: block;
	margin-top: 2.4rem;
	color: var(--white);
}
