@use 'utility' as *;

.footer {
	padding: 4rem 0;
	background-color: var(--blue);

	&__container {
		display: grid;
		row-gap: 3.2rem;

		@include breakpoint(large) {
			grid-template-columns: repeat(2, max-content) auto;
			grid-template-rows: repeat(3, 2.6rem);
			row-gap: 0;
			column-gap: 13rem;
		}
	}

	&__logo {
		display: block;

		&-img {
			margin: 0 auto;

			@include breakpoint(large) {
				margin: 0;
			}
		}
	}

	&__share {
		display: flex;
		justify-content: center;
		column-gap: 1.6rem;

		@include breakpoint(large) {
			grid-row: 3 / 4;
			align-self: end;
			justify-content: flex-start;
		}
	}

	&__nav-list {
		display: grid;
		justify-items: center;
		row-gap: 0.8rem;
		font-size: 1.5rem;

		@include breakpoint(large) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 10rem;
			grid-row: 1 / 4;
			justify-items: start;
		}
	}

	&__nav-item {
		@include breakpoint(large) {
		}
	}

	&__nav-link {
		color: var(--white);
		text-decoration: none;
	}

	&__button {
		justify-self: center;
	}

	&__copyright {
		text-align: center;
		color: var(--white);
		margin-top: 0.8rem;

		@include breakpoint(large) {
			grid-row: 1 / 4;
			justify-self: end;
			margin-top: 0;
			text-align: right;
		}
	}
}

.copyright {
	display: block;
	margin-top: 2.4rem;
	font-size: 1.5rem;

	@include breakpoint(large) {
		margin-top: 1.4rem;
	}
}
