@use 'utility' as *;

.header {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 6.4rem;
	background-color: var(--white);

	&__nav {
		height: 100%;

		&-menu {
			position: absolute;
			top: -500%;
			width: 100%;
			background-color: var(--white);
			padding: 3.2rem 0;
			border-radius: 0.4rem;
		}

		&-list {
			row-gap: 2.4rem;
			font-size: 1.8rem;
		}

		&-link {
			color: var(--blue);
		}
	}
}
