@use 'utility' as *;

.nav {
	display: flex;
	height: 6.4rem;
	justify-content: space-between;
	align-items: center;
	position: relative;

	@include breakpoint(medium) {
		height: 8rem;
	}

	&__menu {
		width: 100%;
		position: absolute;
		top: -30rem;
		padding: 3.2rem 0;
		background-color: var(--white);
		border-radius: 4px;

		@include breakpoint(medium) {
			position: static;
			top: 0;
			padding: 0;
			width: auto;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 2.4rem;

		@include breakpoint(medium) {
			flex-direction: row;
			column-gap: 2rem;
			font-size: 1.4rem;
		}
	}

	&__link {
		color: var(--blue);
		text-decoration: none;
	}

	&__toggle {
		@include breakpoint(medium) {
			display: none;
		}
	}

	&__close {
		display: none;
	}

	&__button {
		display: none;

		@include breakpoint(medium) {
			display: block;
		}
	}
}
